[user]
	name = 
	email = 
	signingkey = 

[diff]
	tool = meld
	guitool = vimdiff

[merge]
	tool = meld

[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%ad %C(yellow)%h%C(reset) %s%C(red)%d%C(reset) %C(cyan)[%an]%C(reset)\" --graph --date=short

[credential]
	helper = store
[credential "https://gist.github.com"]
	username = mikofski

[core]
	autocrlf = true

[diff "jupyternotebook"]
	command = git-nbdiffdriver diff
[merge "jupyternotebook"]
	driver = git-nbmergedriver merge %O %A %B %L %P
	name = jupyter notebook merge driver
[difftool "nbdime"]
	cmd = git-nbdifftool diff \"$LOCAL\" \"$REMOTE\"
[mergetool "nbdime"]
	cmd = git-nbmergetool merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
